= form_for @score_card do |f|
  - if @score_card.errors.any?
    #error_explanation
      %h2= "#{pluralize(@score_card.errors.count, "error")} prohibited this score_card from being saved:"
      %ul
        - @score_card.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :user_id
    = f.text_field :user_id
  .actions
    = f.submit 'Save'
