= form_for [@applicant, @score_card] do |f|
  - if @score_card.errors.any?
    #error_explanation
      %h2= "#{pluralize(@score_card.errors.count, "error")} prohibited this score_card from being saved:"
      %ul
        - @score_card.errors.full_messages.each do |message|
          %li= message

  = f.fields_for :scores do |score_form|
    .field
      = score_form.hidden_field :position_attribute_id
    .field
      = score_form.object.position_attribute.name
    .field
      = score_form.text_field :score

  .score_cards.notes.form
    =f.label :notes
    =f.text_area :notes

  .actions
    = f.submit 'Save'
