%h1 Listing score_cards

%table
  %thead
    %tr
      %th first name
      %th last name
      %th score
      %th
      %th
      %th

  %tbody
    - @score_cards.each do |score_card|
      %tr
        %td= score_card.applicant.first_name
        %td= score_card.applicant.last_name
        %td= score_card.score
        %td= link_to 'Show', applicant_score_card_path(@applicant, score_card)
        %td= link_to 'Edit', edit_score_card_path(score_card)
        %td= link_to 'Destroy', score_card, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Score card', new_applicant_score_card_path(@applicant)
