%p#notice= notice

%p
  %b First Name:
  = @score_card.first_name


%table
  %thead
    %tr
      %th attribute name
      %th weighted score
  %tbody
    - @score_card.scores.each do |score|
      %tr
        %td= score.position_attribute.name
        %td= score.score

%h2
Weighted Average
= @score_card.score

%h2
Notes
.score_cards.show
  = @score_card.notes
