= form_for [@company, @position] do |f|
  - if @position.errors.any?
    #error_explanation
      %h2= "#{pluralize(@position.errors.count, "error")} prohibited this position from being saved:"
      %ul
        - @position.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title

  %p
    Scoring Attributes
    = f.fields_for :position_attributes do |attr_form|
      .field
        = attr_form.label :name
        = attr_form.text_field :name
      .field
        = attr_form.label :weight
        = attr_form.text_field :weight
  .actions
    = f.submit 'Save'
