%p#notice= notice

%p
  %b Title:
  = @position.title

%table
  %thead
    %th Name
    %th Weight
  %tbody
    - @position.position_attributes.each do |position_attribute|

      %tr
        %td
          = position_attribute.name
        %td
          = position_attribute.weight

%p

= link_to 'Applicants', position_applicants_path(@position)
