%h1 Listing departments

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @departments.each do |department|
      %tr
        %td= department.name
        %td= link_to 'Show', company_department_path(@company, department)
        %td= link_to 'Edit', edit_company_department_path(@company, department)
        %td= link_to 'Destroy', company_department_path(@company, department), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Department', new_company_department_path(@company)
