%p#notice= notice

%p
  %b Name:
  = @department.name

= link_to 'Edit', edit_company_department_path(@company, @department)
\|
= link_to 'Back', company_departments_path(@company)
\|
= link_to 'Positions', positions_path
